<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>VueJS Tutorial</title>
        <link href="styles.css" rel="stylesheet"/>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    </head>
    <body>
        <div id="tutorial2">
            <h5 style="color: red">Tutorial 2</h5>
            <h1>{{ name }}</h1>
        </div>   

        <div id="tutorial3">
            <h5 style="color: red">Tutorial 3</h5>
            <h1>{{ greet('Morning') }}</h1>    
            <p>Name : {{ name }}</p>    
            <p>Job : {{ job }}</p>   
        </div>  
        
        <div id="tutorial4">
            <h5 style="color: red">Tutorial 4</h5>
            <a :href="website">Google</a>
            <input type='text' :value="name"/>
            <p v-html="websiteRef"></p>
        </div>
        
        <div id="tutorial5">
            <h5 style="color: red">Tutorial 5</h5>
            <button @click="age++">Add 1 Year Direct</button>
            <button @click="age--">Substract 1 Year Direct</button>
            <button @click="addAge(1)">Add 1 Year</button>
            <button @click="substractAge(1)">Substract 1 Year</button>
            <button @dblclick="addAge(10)">Add 10 Year</button>
            <button @dblclick="substractAge(10)">Add 10 Year</button>
            <p>My Age is {{ age }}</p>
            <div id="canvas" @mousemove="updateXY">{{x}},{{y}}</div>
        </div>
        
        <div id="tutorial6">
            <h5 style="color: red">Tutorial 6</h5>            
            <button @click.once="addAge(1)">Add 1 Year Direct</button>
            <p>My Age is {{ age }}</p>
            <a @click.prevent="openGoogle" href="http://www.google.com">Google</a>
        </div>    

        <div id="tutorial7">
            <h5 style="color: red">Tutorial 7</h5>
            <label>Name</label>    
            <input type="text" @keyup.enter="logName">     
            <label>Age</label>    
            <input type="text" @keyup.alt.enter="logAge">      
        </div>

        <div id="tutorial8">
            <h5 style="color: red">Tutorial 8</h5>
            <label>Name</label>    
            <input type="text" v-model="name">
            <span>{{ name }}</span>  
            <br/>   
            <label>Age</label>    
            <input type="text" v-model="age">      
            <span>{{ age }}</span>
        </div>  

        <div id="tutorial9">
            <h5 style="color: red">Tutorial 9</h5>
            <button @click="a++">Add To A</button>
            <button @click="b++">Add To B</button>
            <div>A = {{ a }}</div>
            <div>B = {{ b }}</div>
            <div>Method Age + A = {{ mAddToA() }}</div>
            <div>Method Age + B = {{ mAddToB() }}</div>
            <div>Computed Age + A = {{ cAddToA }}</div>
            <div>Computed Age + B = {{ cAddToB }}</div>            
        </div>   

        <div id="tutorial10">
            <h5 style="color: red">Tutorial 10</h5>
            <button @click="color=!color">Add Class color</button>
            <button @click="bgcolor=!bgcolor">Add Class backgroundColor</button>
            <p :class="computeClass">Class Binding Using Computed</p>
            <p :class="{color, bgcolor}">Class Binding Using Direct Object Properties</p>
        </div>   

        <div id="tutorial11">
            <h5 style="color: red">Tutorial 11</h5>
            <button @click="error=!error">Toggle Error</button>
            <button @click="success=!success">Toggle Success</button>
            <p v-if="error">Using v-if Error has accure</p>
            <p v-else-if="success">Using v-else-if Horeee sucesss processing</p>
            <p v-show="error">Using v-show Error has accure</p>
            <p v-show="success">Using v-show Horeee sucesss processing</p>
        </div>    

        <div id="tutorial12">
            <h5 style="color: red">Tutorial 12</h5>
            <ul>
                <li v-for="(character, index) in characters">
                    {{ index }} . {{ character }}
                </li>
            </ul>
            <ul>
                <li v-for="(ninja, index) in ninjas">
                    {{ index }} . {{ ninja.name }} - {{ ninja.age }}
                </li>
            </ul>
            <template v-for="(ninja, index) in ninjas">
                <div>{{ index }} . {{ ninja.name }} - {{ ninja.age }}</div>
            </template>
            </br>
            <template v-for="(ninja, index) in ninjas">
                <template v-for="(val, key) in ninja">
                    <div>{{ key }} - {{ val }}</div>
                </template>                
            </template>
        </div>   
    </body>
    <script src="app.js"></script>
</html>