<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>VueJS Tutorial</title>
        <link href="styles.css" rel="stylesheet"/>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    </head>
    <body>
        <div id="tutorial2">
            <h5 style="color: red">Tutorial 2</h5>
            <h1>{{ name }}</h1>
        </div>   

        <div id="tutorial3">
            <h5 style="color: red">Tutorial 3</h5>
            <h1>{{ greet('Morning') }}</h1>    
            <p>Name : {{ name }}</p>    
            <p>Job : {{ job }}</p>   
        </div>  
        
        <div id="tutorial4">
            <h5 style="color: red">Tutorial 4</h5>
            <a :href="website">Google</a>
            <input type='text' :value="name"/>
            <p v-html="websiteRef"></p>
        </div>
        
        <div id="tutorial5">
            <h5 style="color: red">Tutorial 5</h5>
            <button @click="age++">Add 1 Year Direct</button>
            <button @click="age--">Substract 1 Year Direct</button>
            <button @click="addAge(1)">Add 1 Year</button>
            <button @click="substractAge(1)">Substract 1 Year</button>
            <button @dblclick="addAge(10)">Add 10 Year</button>
            <button @dblclick="substractAge(10)">Add 10 Year</button>
            <p>My Age is {{ age }}</p>
            <div id="canvas" @mousemove="updateXY">{{x}},{{y}}</div>
        </div>
        
        <div id="tutorial6">
            <h5 style="color: red">Tutorial 6</h5>            
            <button @click.once="addAge(1)">Add 1 Year Direct</button>
            <p>My Age is {{ age }}</p>
            <a @click.prevent="openGoogle" href="http://www.google.com">Google</a>
        </div>    
        <div id="tutorial7">
            <h5 style="color: red">Tutorial 7</h5>
            <label>Name</label>    
            <input type="text" @keyup.enter="logName">     
            <label>Age</label>    
            <input type="text" @keyup.alt.enter="logAge">      
        </div>
        <div id="tutorial8">
            <h5 style="color: red">Tutorial 8</h5>
            <label>Name</label>    
            <input type="text" v-model="name">
            <span>{{ name }}</span>  
            <br/>   
            <label>Age</label>    
            <input type="text" v-model="age">      
            <span>{{ age }}</span>
        </div>        
    </body>
    <script src="app.js"></script>
</html>